<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Template>Normal.eit</Template><TotalTime>0</TotalTime><Application>Office</Application><Pages>3</Pages><Words>385</Words><Characters>2036</Characters><Lines>64</Lines><Paragraphs>34</Paragraphs><CharactersWithSpaces>2429</CharactersWithSpaces></Properties>