<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Template>Normal.eit</Template><TotalTime>121</TotalTime><Application>Yozo_Office</Application><Pages>1</Pages><Words>38</Words><Characters>247</Characters><Lines>10</Lines><Paragraphs>10</Paragraphs><CharactersWithSpaces>267</CharactersWithSpaces></Properties>